NODE_ENV=development
FACEBOOK_APP_ID=123456
FACEBOOK_APP_SECRET=abc123
FACEBOOK_CALLBACK=http://127.0.0.1:3000/auth/facebook?cb
GOOGLE_CLIENT_ID=123456
GOOGLE_CLIENT_SECRET=123456
GOOGLE_CALLBACK=123456
HOST = ''
HTTP_PORT=8080;
ROOT_USER = ''
PASS = ''
SERVICE = ''
